body{
	background-color: #fff;
}
.tmpl{
	padding-bottom: 50px;
}
.innerCont img {
    margin-bottom: 16px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
#article_body.jsx-129655388 .summary.jsx-129655388 {
    color: #666;
    position: relative;
    margin-bottom: 34px;
    line-height: 25px;
}
.innerCont p {
    line-height: 1.6875rem;
    word-wrap: break-word;
    margin-bottom: 20px;
    text-align: justify;
    word-break: break-all;
    color: #3f4146;
    -webkit-letter-spacing: 0.3px;
    -moz-letter-spacing: 0.3px;
    -ms-letter-spacing: 0.3px;
    letter-spacing: 0.3px;
}
.mint-cell-value .mint-field-core{
    line-height: 21px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px 15px;
    -webkit-user-select: text;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 3px;
    outline: none;
    background-color: #fff;
    -webkit-appearance: none;
}
input[type='search']{
    background-color:#fff;
    height:100%;
    margin-bottom:0;
}
.mint-header{
    position:fixed;
    width:100%;
    top:0;
}
.mint-search-list{
    margin-top:50px;
}
.mint-popup.mint-popup-1 p{
    font-size:20px;
    line-height: 22px;

 }
 .mint-popup.mint-popup-1 h4{
    margin-bottom: 16px;
    text-align:center;
    width:100%;
 }
 .container {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 55px 10px 50px 10px;
    background: #fff;
}
.mint-tab-item-label{
    font-size:18px;
}
.mint-field .mint-cell-title{
    width:60px;
}
.mui-badge{
    color:#fff;
    background-color: red;
}